<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta
      name="keywords"
      content="{% block meta_keywords %}HTML5 Template Gavi Multi-Purpose themeforest{% endblock %}"
    />
    <meta
      name="description"
      content="{% block meta_description %}Gavi - Multi-Purpose HTML5 Template{% endblock %}"
    />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />

    <!-- Title  -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/portfolio/imgs/favicon.ico" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Plugins -->
    <link rel="stylesheet" href="assets/portfolio/css/plugins.css" />
    <link href="assets/portfolio/css/main.css" rel="stylesheet" />

    <!-- Core Style Css -->
    {% block extra_head %}{% endblock %}
  </head>
  <body class="bg-sub_dark text-[14px] lg:px-[40px]">
    {% set doc = frappe.get_doc('About me')%}
    <!-- <div
      class="loader-wrap fixed inset-0 flex items-center justify-center z-50 overflow-hidden bg-transparent"
    >
      <svg
        class="absolute w-screen h-screen fill-current text-[#131313]"
        viewBox="0 0 1000 1000"
        preserveAspectRatio="none"
      >
        <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg> -->

      <!-- <div
        class="loader-wrap-heading relative z-20 text-xl font-thin tracking-wider uppercase"
      >
        <div class="load-text">
          <span class="inline-block animate-loading mx-[20px]">L</span>
          <span
            style="animation-delay: 0.1s"
            class="inline-block animate-loading mx-[20px]"
            >o</span
          >
          <span
            style="animation-delay: 0.2s"
            class="inline-block animate-loading mx-[20px]"
            >a</span
          >
          <span
            style="animation-delay: 0.3s"
            class="inline-block animate-loading mx-[20px]"
            >d</span
          >
          <span
            style="animation-delay: 0.4s"
            class="inline-block animate-loading mx-[20px]"
            >i</span
          >
          <span
            style="animation-delay: 0.5s"
            class="inline-block animate-loading mx-[20px]"
            >n</span
          >
          <span
            style="animation-delay: 0.6s"
            class="inline-block animate-loading mx-[20px]"
            >g</span
          >
        </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="cursor"></div>
    <div class="progress-wrap cursor-pointer">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <div
      class="lines fixed inset-0 !w-full h-screen flex z-[-1] pointer-events-none"
    >
      <span
        class="h-full !w-[10%] mx-[5%] border-r border-l border-white border-opacity-5 border-dashed"
      ></span>
      <span
        class="h-full !w-[10%] mx-[5%] border-r border-l border-white border-opacity-5 border-dashed"
      ></span>
      <span
        class="h-full !w-[10%] mx-[5%] border-r border-l border-white border-opacity-5 border-dashed"
      ></span>
      <span
        class="h-full !w-[10%] mx-[5%] border-r border-l border-white border-opacity-5 border-dashed"
      ></span>
      <span
        class="h-full !w-[10%] mx-[5%] border-r border-l border-white border-opacity-5 border-dashed"
      ></span>
    </div> -->

    <!-- Include the navbar -->
    {% include "templates/__navbar.html" %}

    <div class="nav-top pt-[30px] pb-[30px] relative z-10">
      {% block content %}
      <!-- Main content goes here -->
      {% endblock %}
    </div>

    <!-- ==================== Start Footer ==================== -->

    <footer class="pb-[30px] pt-[30px]">
      <div class="w-full">
        <div class="w-full">
          <div class="col-12 px-[30px] w-full">
            <div class="text-center">
              <p class="text-[13px] text-[#ddd] font-[300]">
                © {{ frappe.utils.now_datetime().year }} All Rights Reserved by
                <span class="text-main">{{ doc.full_name }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- ==================== End Footer ==================== -->

    <!-- jQuery -->
    <script src="assets/portfolio/js/jquery-3.6.0.min.js"></script>
    <script src="assets/portfolio/js/jquery-migrate-3.4.0.min.js"></script>

    <!-- plugins -->
    <script src="assets/portfolio/js/plugins.js"></script>

    <script src="assets/portfolio/js/ScrollTrigger.min.js"></script>
    <link rel="stylesheet" href="assets/portfolio/css/style.css" />

    <!-- custom scripts -->
    <script src="assets/portfolio/js/scripts.js"></script>
  </body>
</html>
