<!DOCTYPE html>
<html lang="zxx">
<head>
  <!-- Metas -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="keywords"
    content="{% block meta_keywords %}HTML5 Template Gavi Multi-Purpose themeforest{% endblock %}" />
  <meta name="description" content="{% block meta_description %}Gavi - Multi-Purpose HTML5 Template{% endblock %}" />
  <meta name="author" content="{% block meta_author %}{% endblock %}" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B28KXCFPNN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B28KXCFPNN');
  </script>

  <!-- Title  -->
  <title>{% block title %} Home {% endblock %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/portfolio/imgs/M.png" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <!-- Plugins -->
  <link rel="stylesheet" href="assets/portfolio/css/plugins.css" />
  <link href="assets/portfolio/css/main.css" rel="stylesheet" />

  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'>
  <!-- Core Style Css -->
  {% block extra_head %}{% endblock %}
</head>
{% set doc = frappe.get_doc('About me')%}
<body class="bg-sub_dark text-[14px] lg:px-[40px]">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMC2ZNJB" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMC2ZNJB" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Include the navbar -->
  {% include "templates/__navbar.html" %}

  <div class="nav-top pt-[30px] pb-[30px] relative z-10">
    {% block content %}
    <!-- Main content goes here -->
    {% endblock %}
  </div>

  <!-- ==================== Start Footer ==================== -->

  <footer class="pb-[30px] pt-[30px]">
    <div class="w-full">
      <div class="w-full">
        <div class="col-12 px-[30px] w-full">
          <div class="text-center">
            <p class="text-[13px] text-[#ddd] font-[300]">
              © {{ frappe.utils.now_datetime().year }} All Rights Reserved by
              <span class="text-main">{{ doc.full_name }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- ==================== End Footer ==================== -->

  <!-- jQuery -->
  <script src="assets/portfolio/js/jquery-3.6.0.min.js"></script>
  <script src="assets/portfolio/js/jquery-migrate-3.4.0.min.js"></script>

  <!-- plugins -->
  <script src="assets/portfolio/js/plugins.js"></script>
  
  <script src="assets/portfolio/js/ScrollTrigger.min.js"></script>
  <link rel="stylesheet" href="assets/portfolio/css/style.css" />
   <script src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'></script>

  <!-- custom scripts -->
  <script src="assets/portfolio/js/scripts.js"></script>
  <script src="assets/portfolio/js/contact.js"></script>
</body>

</html>