<div class="nav-top z-20 relative  pt-[30px] pb-[30px]">
    <div
      class="w-full relative xxl:max-w-[1280px] xl:max-w-[1140px] lg:max-w-[1024px] md:max-w-[768px] sm:max-w-[640px] mx-auto px-[3px]">
      <div class="grid grid-cols-3">
        <div class="col-md-4 px-[15px] flex items-center">
          <a href="/" class="logo">
            <img style="width: 11rem;" class="h-auto" src="{{ doc.header_image }}" alt="" />
          </a>
        </div>
        <div class="col-md-4 px-[15px] hidden lg:block valign">
          <div class="social text-center w-full">
            <a href="{{ doc.twitter }}"><i
                class="fab fa-twitter w-10 h-10 leading-10 text-center text-xs border border-white border-opacity-20 rounded-full mx-0.5 transition-all duration-400 ease-in-out hover:bg-[#fff] hover:text-[#1d1d1d]"></i></a>
            <a href="{{ doc.github }}"><i
                class="fab fa-github w-10 h-10 leading-10 text-center text-xs border border-white border-opacity-20 rounded-full mx-0.5 transition-all duration-400 ease-in-out hover:bg-[#fff] hover:text-[#1d1d1d]"></i></a>
            <a href="{{ doc.linkedin }}"><i
                class="fab fa-linkedin-in w-10 h-10 leading-10 text-center text-xs border border-white border-opacity-20 rounded-full mx-0.5 transition-all duration-400 ease-in-out hover:bg-[#fff] hover:text-[#1d1d1d]"></i></a>
          </div>
        </div>
        <div class="col-md-4 px-[15px] hidden lg:block valign">
          <div class="w-full info">
            <div class="flex justify-end">
              <a href="mailto:{{ doc.email_id }}">
                <span class="sub-title fz-12 text-[12px] font-light uppercase tracking-widest">{{ doc.email_id }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-butn absolute top-[0] right-[15px] text-[25px] cursor-pointer lg:hidden block ">
        <span class="pe-7s-menu"></span>
      </div>
    </div>
  </div>
  
