<div class="container">
    <div class="swiper">
        <div class="slide-container swiper-wrapper">
            {%- set slides = frappe.get_list('Project Slide',
            fields=[
            'name',
            'project_name',
            '`order`',
            'rank_label',
            'project_title',
            'description',
            'cta_button_text',
            'cta_url',
            'your_role',
            'image',
            'bg_color',
            ],
            order_by="`order` asc"
            ) -%}

            {% for slide in slides %}
            <div class="slide swiper-slide" {% if slide.bg_color
                %}data-progress-color="{{ slide.bg_color }}" {% endif %} {% if slide.bg_color
                %}data-bg-color="{{ slide.bg_color }}" {% endif %}>
                <div class="card slide-{{ loop.index }}">
                    <div class="svg-wrapper">
                        {% if slide.image %}
                        <div class="card-bg" style="background-image: url('{{ slide.image }}');"></div>
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <div class="card-sub-title" {% if slide.bg_color
                            %}style="--color: {{ slide.bg_color }}" {% endif %}>
                            {{ slide.rank_label }}
                        </div>
                        <h2 class="card-title" data-text="{{ slide.project_title }}">
                            {{ slide.project_title }}
                        </h2>
                        <p class="card-description">{{ slide.description }}</p>
                        <div class="card-cta">
                            <a href="{{ slide.cta_url }}" class="cta-button" style="--color: {{ slide.bg_color }}">{{ slide.cta_button_text }}</a>
                        </div>
                    </div>
                    <div class="card-ghost-info">
                        <span {% if slide.bg_color %}style="--color: {{ slide.bg_color }}" {% endif
                            %}></span>
                        <div class="ghost-name">{{ slide.project_name }}</div>
                        <div>{{ slide.your_role }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="slider-button-next slider-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 350 160 90">
                <g class="slider-svg-wrap">
                    <g class="slider-svg-circle-wrap">
                        <circle cx="42" cy="42" r="40"></circle>
                    </g>
                    <path class="slider-svg-arrow" d="M.983,6.929,4.447,3.464.983,0,0,.983,2.482,3.464,0,5.946Z">
                    </path>
                    <path class="slider-svg-line" d="M80,0H0"></path>
                </g>
            </svg>
        </div>
        <div class="slider-button-prev slider-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 350 160 90">
                <g class="slider-svg-wrap">
                    <g class="slider-svg-circle-wrap">
                        <circle cx="42" cy="42" r="40"></circle>
                    </g>
                    <path class="slider-svg-arrow" d="M.983,6.929,4.447,3.464.983,0,0,.983,2.482,3.464,0,5.946Z">
                    </path>
                    <path class="slider-svg-line" d="M80,0H0"></path>
                </g>
            </svg>
        </div>
    </div>
</div>